html {
	min-height: 100%;
	position: relative;
}

.js-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#one,
#two,
#three,
#four {
	display: inline-block;
	height: 50px;
	margin: 20px;
	padding: 20px;
}

#three {
	height: 1200px;
	display: block;
}
